/* =Typography
-----------------------------------------------------------------------------*/
@font-face {
  font-family: 'broccolidry';
  src:url('/fonts/broccolidry.eot');
  src:url('fonts/broccolidry.eot?#iefix') format('embedded-opentype'),
    url('/fonts/broccolidry.svg#broccolidry') format('svg'),
    url('/fonts/broccolidry.woff') format('woff'),
    url('/fonts/broccolidry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'broccolidry';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'broccolidry';
  font-style: normal;
  speak: none;
  font-weight: normal;
  padding-right: 4px;
  -webkit-font-smoothing: antialiased;
}
.icon-pencil:before {
  content: "\21";
}
.icon-detail:before {
  content: "\22";
}
.icon-plus:before {
  content: "\2b";
}
.icon-floppy:before {
  content: "\25";
}
.icon-cancel:before {
  content: "\78";
}
.icon-envelope:before {
  content: "\23";
}

.icons {
  font-family: 'broccolidry';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

body {

}

/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
.container {
	width: 740px;
	padding: 0 10px;
	margin: 24px auto;
}

/*#projects td a:not(:last-of-type)::after { content: ", "; }*/

/* =Header
-----------------------------------------------------------------------------*/
h3 a {
  text-decoration: none;
}
h3 a:hover:after {
  content: "»";
  margin-left: .4em;
}

/* =Nav
-----------------------------------------------------------------------------*/
nav.primary a {
  display: inline-block;
  text-decoration: none;
}

nav.primary a:not(:last-of-type) {
  margin-right: 7px;
}

nav#breadcrumbs { margin-bottom: 2em; }
nav#breadcrumbs a { text-decoration: none; }
nav#breadcrumbs a:after { content: " › "; }

nav.secondary { text-align: right; }

nav.toolbar {
  text-align: right;
}
nav.toolbar a {
  margin-left: 1em;
  text-decoration: none;
}

thead form {
  display: inline;
  float: right;
  margin-bottom: 0;
}


/* =Misc
-----------------------------------------------------------------------------*/
table a {
  font-weight: normal;
  text-decoration: none;
}

.right { text-align: right; }
.center { text-align: center; }

tr .initially-hidden { visibility: hidden }
tr:hover .initially-hidden { visibility: visible }

td .icons { margin-left: 1em; }

.descr li {
  display: inline;
}
.descr li:not(:last-of-type)::after {
  content: ", ";
}

.success, .errors {
  margin-left: 0;
  padding: 8px 14px;
  text-shadow: 0 1px 0 #fff;
}

.success {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #468847;
}

.errors {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  color: #b94a48;
}
.errors li {
  list-style: none;
}

/* =Footer
-----------------------------------------------------------------------------*/
