<section id="campaign">

  <h2><%= campaign.title %></h2>

  <% if campaign_hits.empty? %>
    <p>Noch keine Besucher in dieser Kampagne.</p>
  <% else %>
    <table class="width-100 striped">

      <thead>
        <tr>
          <th>Erstbesuch</th>
          <th colspan="2">Letzter Besuch</th>
        </tr>
      </thead>

      <tbody>
        <% for hit in campaign_hits %>
          <tr>
            <td><%= hit.created_at %></td>
            <td><%= hit.updated_at %></td>
            <td>
              <a class="icons red delete" href="<%= hit.deletelink %>" data-method="delete" data-confirm="Eintrag löschen?" rel="nofollow" title="Eintrag löschen">&#x78;</a>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>

  <% end %>


</section>
