<section id="projects">

  <header class="row">
    <h2 class="threequarter">Projekte</h2>
    <nav class="quarter secondary">
      <form action="<%= Project.createlink %>" method="post">
        <button class="btn btn-square icon-plus">Projekt anlegen</button>
      </form>
    </nav>
  </header>

  <table class="width-100 striped">

    <thead>
      <tr>
        <th colspan="2">Projekte</th>
      </tr>
    </thead>

    <tbody>
      <% for project in projects %>
        <tr>
          <td>
            <a href="<%= project.link %>" title="Kampagnen"><%= project.title %> »</a>
          </td>
          <td>
            <a class="icons" href="<%= project.editlink %>" title="Projekt bearbeiten">&#x21;</a>
          </td>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

</section>
