<section id="users">

  <header class="row">
    <h2 class="threequarter">Nutzer</h2>
    <nav class="quarter secondary">
      <form action="<%= User.createlink %>" method="post">
        <button class="btn icon-plus">Neuer Nutzer</button>
      </form>
    </nav>
  </header>

  <table class="width-100 striped">

    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">E-Mail</th>
      </tr>
    </thead>

    <tbody>

      <% if users.each do |user| %>

        <tr>
          <td><%= user.name %></td>
          <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
          <td></td>
        </tr>

      <% end.empty? %>

        <tr>
          <td colspan="3">Noch keine Nutzer vorhanden.</td>
        </tr>

      <% end %>

    </tbody>

  </table>

</section>
